MONGO_URI=mongodb+srv://benjaminugo362_db_user:Au5Aql2ITCF6UNVZ@cluster0.2xxxyhz.mongodb.net/?appName=Cluster0
JWT_SECRET=writeanythinghere
CLIENT_URL=http://localhost:5173
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_gmail_address
SMTP_PASS=your_gmail_app_password
GEMINI_API_KEY=replace_with_your_api_key
GEMINI_MODEL=gemini-3.5-flash-lite