MONGO_URI=mongodb+srv://benjaminugo362_db_user:Au5Aql2ITCF6UNVZ@cluster0.2xxxyhz.mongodb.net/?appName=Cluster0
JWT_SECRET=writeanythinghere
CLIENT_URL=http://localhost:5173
SOFFICE_PATH=soffice
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_gmail_address
SMTP_PASS=your_gmail_app_password
GEMINI_API_KEY=replace_with_your_api_key
GEMINI_MODEL=gemini-3.5-flash-lite